main{
	max-width: 800px;
	margin: 50px auto;
	/*border: 1px solid black;*/
}

h1{
	font-size: 46pt;
	text-align: center;
	margin-bottom: 50px;
}

.recent-players{
	width: 60%;
	display: inline-block;
}

.overall-winrate{
	width: 39%;
	display: inline-block;
	text-align: center;
}

h2, h3{
	font-size: 30pt;
	letter-spacing: 2px;
}

.winrate-percent{
	font-size: 40pt;
	display: inline-block;
}

ul{
	margin-top: 10px;
	padding-left: 30px;
	list-style: disc;
	font-size: 16pt;
}

li{
	margin-bottom: 5px;
}

.recent-sessions{
	margin-top: 100px;
	width: 100%;
}

.game{
	font-size: 20pt;
	display: inline-block;
	width: 100%;
}